Repository hashicorp/terraform-plugin-framework, pull requests merged in 2021-11, with the labels that each got.

#219 diag: Add WithPath function and remove AttributeErrorDiagnostic and AttributeWarningDiagnostic types
  .changelog/219.txt
  diag/attribute_error_diagnostic.go
  diag/attribute_warning_diagnostic.go
  diag/diagnostic.go
  diag/with_path.go
  internal/reflect/diags.go
  internal/reflect/interfaces.go
  internal/reflect/map.go
  internal/reflect/number.go
  internal/reflect/pointer.go
  internal/reflect/pointer_test.go
  internal/reflect/primitive.go
  internal/reflect/slice.go
  internal/reflect/struct.go
  internal/reflect/struct_test.go
  internal/testing/types/diags.go
  tfsdk/config.go
  tfsdk/config_test.go
  tfsdk/plan.go
  tfsdk/plan_test.go
  tfsdk/state.go
  tfsdk/state_test.go
  tfsdk/value_as_test.go
Labels: enhancement, breaking-change, diags

#213 Complicate our RequiresReplace(If) logic.
  .changelog/213.txt
  tfsdk/attribute_plan_modification.go
  tfsdk/attribute_plan_modification_test.go
  tfsdk/attribute_test.go
  tfsdk/serve_test.go
Labels: enhancement, breaking-change

#188 tfsdk: Support for List and Set Blocks
  .changelog/188.txt
  tfsdk/attribute.go
  tfsdk/attribute_test.go
  tfsdk/block.go
  tfsdk/block_nested_mode.go
  tfsdk/block_test.go
  tfsdk/config_test.go
  tfsdk/nested_attributes.go
  tfsdk/plan_test.go
  tfsdk/schema.go
  tfsdk/schema_test.go
  tfsdk/serve_provider_test.go
  tfsdk/serve_resource_two_test.go
  tfsdk/serve_test.go
  tfsdk/state_test.go
Labels: enhancement

#208 types: Prevent panics when ValueFromTerraform received nil values
  .changelog/208.txt
  tfsdk/config_test.go
  tfsdk/plan_test.go
  tfsdk/state_test.go
  types/list.go
  types/list_test.go
  types/map.go
  types/map_test.go
  types/object.go
  types/object_test.go
  types/set.go
  types/set_test.go
Labels: bug, types

#224 tfsdk: Support block plan modification
  tfsdk/attribute.go
  tfsdk/attribute_plan_modification.go
  tfsdk/attribute_plan_modification_test.go
  tfsdk/attribute_test.go
  tfsdk/block.go
  tfsdk/block_test.go
  tfsdk/schema.go
  tfsdk/serve.go
  tfsdk/serve_resource_attribute_plan_modifiers_test.go
  tfsdk/serve_test.go
Labels: enhancement, schema
